hr {
  border-top: 1px solid #504f4f;
  border-bottom: 0px solid #504f4f;
  border-left: 0px solid #504f4f;
  border-right: 0px solid #504f4f;
}

.awards {
  width: 100%;
  margin: 10px 0;
  /* max-width: 800px; */
  /* min-width: 600px; */
  /* border: 1px solid red; */
}

.awards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
}

.awards-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  margin: 10px;
}

.awards-title h1 {
  font-family: "Courier New", Courier, monospace;
  color: #504f4f;
  font-size: 50px;
  font-weight: 100;
}

.awards-content {
  width: 80%;
  /* border: 1px solid red; */
}

.awards-content ul {
  display: block;
  /* list-style-type: disc; */
  margin: 5px 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.awards-content ul h3 {
  color: #00228F;
}

/* --------------------------carousel-------------------------- */
.awards-carousel-container {
  /* border: 1px solid red; */
  width: 80%;
  margin: 20px 0;
}

.awards-carousel-content-container {
  /* border: 1px solid blue; */
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 15px;
  transition: 0.5s;
}

.awards-carousel-content-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.awards-carousel-content-container img {
  width: 100%;
}

.awards-name {
  height: 100%;
  padding: 20px 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.awards-carousel-content-container h3 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #00228F;
  /* text-decoration: underline; */
}

/* --------------------------responsive-------------------------- */
@media (max-width: 1200px) {
  .awards-content {
    width: 100%;
  }

  .awards-content ul {
    padding-left: 20px;
  }
}

@media (max-width: 725px) {
  .awards-carousel-container {
    width: 100%;
  }

  .academic-awards-hr {
    width: 110%;
  }
}

