* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	overflow: hidden;
  position: relative;
}

.owl-carousel {
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

.item {
	width: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
}

.control {
	height: auto;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}

.nav-control {
	/*height: 80%;*/
	width: 100%;
	/*position: absolute;
	top: 0;
	bottom: 0;*/
	display: flex;
	justify-content: space-between;
}

.nav-btn {
	border-style: none;
	background: rgba(0, 0, 0, 0);
	font-size: 50px;
  padding: 10px;
	z-index: 1;
	cursor: pointer;
	color: #00228F;
  transition: .25s;
  opacity: 0.6;
}

.nav-btn:hover {
	/* color: #555555; */
}

.owl-dots { /* set the bottom dots inside the item */
	width: 100%;
	position: absolute;
	bottom: 0;
}

.auto-play-control {
	width: 100%;
	display: flex;
  justify-content: center;
}

.auto-btn {
	z-index: 20;
	position: absolute;
  bottom: 20px;
	/* left: 10px; */
	font-size: 25px;
	border-style: none;
	background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

