* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
}

.index-body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
}

/* --------------------------header-------------------------- */
.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  z-index: 100;
}

.index-btn-group {
  margin-left: 10px;
}

.index-btn-group button, .contact-btn {
  border: 1px solid #273878;
  background: #273878;
  padding: 10px 25px;
  border-radius: 2.5px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.25s;
  font-weight: bold;
}

.index-btn-group button:hover, .contact-btn:hover {
  background: #ffffff;
  color: #273878;
}

.social-media-menu-container {
  display: flex;
  margin: 0 20px;
}

.social-media-menu {
  font-size: 25px;
  /* width: 25px; */
  fill: #273878;
  cursor: pointer;
}

.social-media-menu:hover {
  fill: #000000;
}

.index-header-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#nav-check {
	display: none;
	visibility: hidden;
}

#nav-check:checked ~ .social-media-container {
  display: block;
}

#nav-check:not(:checked) ~ .social-media-container {
  display: none;
}

.social-media-container {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  position: fixed;
  top: 65px;
  right: 25px;
  width: 300px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0 0 12px rgba(33,33,33,.2);
}

.social-media-heading {
  text-align: center;
  color: #525558;
}

.social-media-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-media-link {
  width: 30%;
}

.social-media-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.social-media-box p {
  margin-top: 10px;
  color: #2B2C2F;
}

.social-media-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
  height: 25px;
	border-radius: 5px;
	padding: 10px;
	/* margin: 0 5px 0; */
	color: #ffffff;
	font-size: 25px;
	opacity: 85%;
}

.social-media-icon:hover {
	opacity: 100%;
  transition: .25s ease-in-out;
}

#facebook-icon {
	font-size: 55px;
	background: #ffffff;
  color: #3B5998;
}

#instragram-icon {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  font-weight: bold;
  font-size: 35px;
}

#mail-icon {
  background: #45BBFF;
}

#linkedin-icon {
  background: #0070AC;
}

/* --------------------------main-------------------------- */
.main-section {
  /* margin-top: 12.5vh; */
  /* padding-top: 90px; */
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.profile-into {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img-cropper {
  width: 400px;
	height: 400px;
	position: relative;
	overflow: hidden;
  border-radius: 50%;
  margin-bottom: 50px;
}

.img-cropper img {
  /* display: inline; */
	/* margin: 0 auto; */
  margin-left: -100%; 
  margin-top: -20%;
  width: 200%;
	/* height: 100%; */
}

.main-title {
  position: absolute;
  bottom: 10px;
}

.main-title h1 {
  font-size: 80px;
  color: #273878;
  text-align: center;
  font-family: 'Josefin Slab',serif;
  text-shadow: 2px 1px #ffffff;
}

/* .heading {
  font-size: 0;
  display: inline-block;
}

.heading span {
  font-size: 80px;
  font-weight: 525;
}

.heading span:nth-child(1) {
  color: #4285F4;
}

.heading span:nth-child(2) {
  color: #EA4335;
}

.heading span:nth-child(3) {
  color: #FBBC05;
}

.heading span:nth-child(4) {
  color: #4285F4;
}

.heading span:nth-child(5) {
  color: #34A853;
} */

/* .box-container {
  margin-top: 30px;
  width: 600px;
  height: 45px;
  font-family: Arial;
  border: 1px solid #c8c8c8;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out; 
}

.box-container:hover {
  box-shadow: 0 0 12px rgba(33,33,33,.2);
}

.ico-search {
  margin-left: 20px;
  color: #A0A6AC;
}

.voice-search {
  margin-right: 15px;
} */

.typing-writer-container {
  background: #273878;
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.typing-writer {
  text-align: center;
  font-size: 25px;
  font-family: "Lucida Console", Monaco, monospace;
  color: #ffffff;
  cursor: text;
}

#cursor {
  color: #ffffff;
  font-size: 25px;
}

.responsive-btn-group {
  display: none;
}

/* --------------------------footer-------------------------- */
.index-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #F2F2F2;
  border-top: 1px solid #E4E4E4;
}

.lower-footer, .upper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.footer-region {
  color: #757575;
  /* margin: 10px 30px; */
}

.footer-line {
  color: #E4E4E4;
  opacity: 0.4;
}

.footer-links-group {
  /* margin: 10px 30px; */
  list-style: none;
  display: flex;
}

hr {
  color: #525558;
  cursor: pointer;

}

.footer-link {
  margin-right: 20px;;
}

.footer-link a {
  color: #525558;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-copyright {
  color: #525558;
  font-size: 12px;
}

/* --------------------------responsive-------------------------- */
@media screen and (max-height: 720px) {
  .index-footer {
    position: static;
  }
}

@media (max-width: 700px) {
  /* .box-container {
    width: 85%;
  } */
}

@media (max-width: 550px) {
  .img-cropper {
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
  }

  .main-title h1 {
    font-size: 50px;
    color: #273878;
    text-align: center;
    font-weight: bold;
    font-family: 'Josefin Slab',serif;
    text-shadow: 2px 1px #ffffff;
  }

  .index-btn-group {
    display: none;
  }
  
  .index-header {
    justify-content: flex-end;
  }

  .responsive-btn-group {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }

  .responsive-btn-group button {
    background: #ffffff;
    color: #273878;
    border: 1px solid #273878;
    padding: 15px 50px;
    margin: 5px 0;
    border-radius: 2.5px;
    cursor: pointer;
    transition: 0.25s;
    font-weight: bold;
    font-size: 20px;
  }

  .upper-footer {
    padding: 10px 10px;
  }

  .lower-footer {
    flex-direction: column;
  }

  .footer-links-group {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-copyright {
    margin: 10px;
  }
}