:root {
  --dark-blue: #1A237E;
  --dark-dark-blue: #10185f;
  --light-blue: #3343A5;
  --sky-blue: #2AB3FF;
  --light-text-purple: #C5CAE9;
  --light-text-grey: #757575;
  --light-grey: #DCDCDC;

  --light-green: #AED581;
  --normal-green: #558B2F;

  --light-pink: #F06292;
  --dark-pink: #C2185B;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: var(--light-grey);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  /* border: 2px solid red; */
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #fff;
  border: 4px solid var(--normal-green);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -80px;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  /* border: 2px solid blue; */
  position: relative;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: .2s;
}

.content:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left .content {
  border-top: 5px solid var(--light-blue);
}

.right .content {
  border-top: 5px solid var(--light-pink);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 750px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: auto;
    padding-left: 70px;
    padding-right: 25px;
  }

  .content {
    padding: 30px 10px;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .left {
    left: 0;
  }
}